template(name="header")
  .navbar.navbar-default.text-center
    .container
      .row
        a.navbar-brand.col-xs-12 Nashville Pong Master
        .pull-right.col-xs-12
          .nav-button
            .logs
              +loginButtons
