<template name="playertable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Name </th>
        <th>  Wins </th>
        <th> Losses </th>
        <th> ELO </th>
      </tr>
    </thead>
    {{#each players}}
      <tr>
        <td class="name"> {{name}} </td>
        <td> {{wins}} </td>
        <td> {{losses}} </td>
        <td> {{elo}} </td>
      </tr>
      {{/each}}
  </table>
  {{#if currentUser}}
    <div class="game text-center">
      <select class="winner">
        {{#each players}}
          <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <strong> Beat: </strong>
      <select class="loser">
        {{#each players}}
          <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <button class="btn btn-primary makegame">Send</button>
    </div>
    {{/if}}
</template>
